name: platform-pr-tests
permissions:
  contents: read
  pull-requests: write
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test-src:
    strategy:
      matrix:
        unprivileged: ["true","false"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.25

      - name: Build and test
        env:
          UNPRIVILEGED_USER: ${{ matrix.unprivileged }}
        run: make docker-image test-src
          
  vulncheck-and-linters:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.25

      - id: govulncheck
        uses: golang/govulncheck-action@v1
        with:
          go-version-input: 1.25
          go-package: ./...

      - name: golint
        run: go run golang.org/x/lint/golint@latest ./...

      - name: govet
        run: go vet ./...